h1 {  display: inline-block;
    color: #E18B00;
font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;    
font-weight:bold ;
    font-size: 24px;
     padding:0px 30px 0px 30px; 
  /*  border-left:0px solid #c6c1b8; */
    background-color:black;
    display:block;
}
ul{
        padding: 0;
        list-style: none;
/*        background: #f2f2f2; */
        text-align: left;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 0px;
        text-align: center;
    }
    ul li a{
        display: block;
        padding: 20px 25px;
        color: #fff;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #E18B00;
    }
    ul li ul.dropdown{
        min-width: 150px; /* Set width of the dropdown */
        background: #000000;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
